//images
$img_path: '/images';

//Colors
$grey : #333333;
$light-grey : #fafafa;
$light-grey-border : #eeeeee;
$grey-font: #808080;
$team-grid-grey: #f6f6f6;
$grey-discovery: #353535;
$grey-service-info : #9e9e9e;
$map-orange : #da4d3c;
$map-grey : #f5f5f5;

$light-color : #aaaaaa;
$prism-green : #1DE9B6;
$medium-grey : #323232;
$off-white   : #fbfafe;
$submit-green: #6fb143;
$submit-green-focus:#72a94d;
$select-arrow-red : #790505;
$title-white : #fdf9f2;
$section4-blue: #71b5ef;

//Navigation Colors
$nav-background : $grey;
$nav-text-color: white;

//Footer Colors
$footer-grey: #333743;
$footer-font-grey-dark: #555963;
$footer-font-grey-light:#b3b4b9;


//
$blood-red-dark: #a44949;
$blood-red-light: #c40000;
$button-pink : #ff292e;
$text-brown : #353535;
// screen sizes

$mobile-sc : 0px;
$tab-sc : 600px;
$desktop-sc: 1000px;
$large-sc : 1500px;


$chrome-321 :321px;
$chrome-376 :376px;
$chrome-426 :426px;
$chrome-769 :769px;
$chrome-1025 :1025px;
$chrome-1441 :1441px;
$chrome-2561 :2561px;


// @media (max-width : $chrome-321) {
//
// }
// @media only screen and (min-width : $chrome-321) and (max-width : $chrome-376 ) {
//
// }
// @media (min-width: $chrome-376) and (max-width: $chrome-426) {
//
//  }
// @media (min-width: $chrome-426) and (max-width : $chrome-769) {
//
// }
// @media (min-width: $chrome-769) and (max-width : $chrome-1025)  {
//
// }
// @media (min-width: $chrome-1025) and (max-width : $chrome-1441) {
//
// }
// @media (min-width: $chrome-1441) and (max-width : $chrome-2561) {
//
// }
// @media (min-width : $chrome-2561) {
//
// }
