//images
$img_path: '/images';

//Colors
$grey : #333333;
$light-grey : #fafafa;
$light-grey-border : #eeeeee;
$light-color : #aaaaaa;
$prism-green : #1DE9B6;
$medium-grey : #323232;
$off-white   : #fbfafe;
$submit-green: #6fb143;
$submit-green-focus:#72a94d;
$select-arrow-red : #790505;

//Navigation Colors
$nav-background : $grey;
$nav-text-color: white;

//Footer Colors
$footer-grey: #333743;
$footer-font-grey-dark: #555963;
$footer-font-grey-light:#b3b4b9;


//
$blood-red-dark: #a44949;
$blood-red-light: #c40000
