//images
$img_path: '/images';

//Colors
$grey : #333333;
$light-grey : #fafafa;
$light-grey-border : #eeeeee;
$light-color : #aaaaaa;
$prism-green : #1DE9B6;

//Navigation Colors
$nav-background : $grey;
$nav-text-color: white;
