.floating-about-text {
  float: left;
  position: absolute;
  width: 500px;
  top: 600px;
  padding-left: 50px;
  padding-right: 50px;
}

.floating-about-text-mob {
  float: left;
  width: 100%;
  text-align: center;
  top: 600px;
  padding-left: 50px;
  padding-right: 50px;
  background: $team-grid-grey;
}

.red-span {
  color : #ca0d0d;
}

.about-title {
  font-weight: 600;
}

.founder-title {
  font-weight: 600;
}

.founder-title , .founder-message{
  text-align: center;
}

.founder-message-wrap {
  padding: 30px;
}

.founder-quot-wrap {
  padding: 30px;
  font-size: 1.5em;
  text-align: center;
  font-weight: 100;
  color: #253137;
  padding-left: 100px;
  padding-right: 100px;
}


.founder-img{
    background-image: url("http://res.cloudinary.com/haswind/image/upload/c_scale,q_31,w_80/v1504563663/teamgrid/dummy/default-avatar-ginger-guy.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.round-img-div {
    padding-left: 40%;
}

.round-img-title-div {
  float: left;
  padding-left: 5%;
  padding:20px;
}

.founder-name {
  color: #db2b2b;
}

.render_hidden {
  width: 50px;
  height: 100px;
  display:none;
}

.progress-teamgrid {
  margin-bottom: 0px;
  background: #e52d27!important;  /* fallback for old browsers */
  }

.progress-meter-teamgrid {
  background: #e52d27!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #b31217, #e52d27)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background-image: -moz-linear-gradient(to bottom, #b31217, #e52d27)!important;
  background: linear-gradient(to bottom, #b31217, #e52d27)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
