.floating-about-text {
  float: left;
  position: absolute;
  width: 500px;
  top: 600px;
  padding-left: 50px;
  padding-right: 50px;
}

.red-span {
  color : #ca0d0d;
}

.about-title {
  font-weight: 600;
}

// svg styles
// .about-st0{fill:none;enable-background:new    ;}
// .about-st1{fill:#F6F6F6;}
// .about-st2{fill:#FFFFFF;}
// .about-st2:hover {
//   fill: #ff0404!important;
// }
