.blog-prev-title {
  color : $blood-red-light
}

.blog-prev-content {
  color: black;
  padding-top: 10px;
}

.highlight {
  color:black;
}

.blog-wrap-main {
  display: flex;
  background-color: #fff!important;
}

.blog-wrap-content {
  padding-left: 0px;
}

.timeline-Header {
  background-color: #24b4ff!important;
  padding: 18px!important;
}

.timeline-Header-title, .timeline-Header-byline, .customisable-highlight {
  color: #fff!important;
}
