.blog-prev-title {
  color : $blood-red-light
}

.blog-prev-content {
  color: black;
  padding-top: 10px;
}

.highlight {
  color:black;
}

.highlight-single-name {
  color:white;
  font-weight: 600;
}
.blog-wrap-main {
  display: flex;
  background-color: #fff!important;
}

.no-left-padding {
  padding-left: 0px;
}
