.careersPage{
  // margin: 0;
  color: black;
}

.careersTopic{
  margin-left: 50px;
}

#FAQ{
  // margin: 0px -100px 0px -100px;
  background-color: #CBC2C0;
  padding-left: 20px;
}

#cc{
  padding-left: 20px;
}

.LR10{
  padding-left: 10px;
  padding-right: 10px;
}
.LR0{
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.careersContact{
  margin-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

.backend{
  width: 100%;
}

.btn-round-red-white {
  border: 2px solid $blood-red-light;
  background-color: white;
  color: $blood-red-dark;
  border-radius: 140px;
  padding: 0 25px;
  line-height: 40px;
  display: inline-block;
  max-height: 42px;
  min-width: 124px;
}

.btn-round-red-white:focus, .btn-round-red-white:hover {
    background-color: $blood-red-light!important;
    color: white!important;
}

.careersContactBtnWeb{
  padding-top: 50px;
}

.careersContactBtnMob{
  padding-top: 20px;
  padding-bottom: 20px;
}


#contactForm {
	display: none;
	border: 6px solid #2963A2;
	padding: 2em;
	width: 365px;
	text-align: center;
	background: #fff;
	position: fixed;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	z-index: 99;
}
