.careersPage{
  // margin: 0;
  color: black;
}

.careersTopic{
  margin-left: 50px;
}

#FAQ{
  // margin: 0px -100px 0px -100px;
  background-color: #CBC2C0;
}

.careersFAQ{
  margin-left: 50px;
  padding: 0;  
}

.careersContact{
  margin-top: 50px;
  margin-left: 50px;
}
