// Round Red Button
.btn-round-black {
  border: 2px solid #2d3434;
  border-radius: 140px;
  padding: 0 25px;
  line-height: 40px;
  display: inline-block;
}

.btn-round-red-white {
  border: 2px solid $blood-red-light;
  background-color: white;
  color: $blood-red-dark;
  border-radius: 140px;
  padding: 0 25px;
  line-height: 40px;
  display: inline-block;
}

.btn-round-red-white:focus, .btn-round-red-white:hover {
    background-color: $blood-red-light;
    color: white;
}

.btn-round-red-red:focus, .btn-round-red-red:hover {
  background-color: white;
  color: $blood-red-light;
}

.btn-round-red-red {
  border: 2px solid $blood-red-light;
  background-color: $blood-red-light;
  color: white;
  border-radius: 140px;
  padding: 0 25px;
  line-height: 40px;
  display: inline-block;
}

.contactus-bar-text {
  color : $blood-red-dark;
}

.ContactUsBar{
  height: 200px;
}

.padding-top-50 {
  padding: 50px;
}

.no-top-margin {
  margin-top: 0px;
}
// Mini Map Form
.mini-form-box {
  z-index: 5;
  background-color: $blood-red-light;
  height: 400px;
  border: 2px solid $blood-red-light;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-right: 0px;
  border-right-width: 0px;
}

// placeholder
.mini-form-box ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $blood-red-light;
}
.mini-form-box :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    $blood-red-light;
   opacity:  1;
}
.mini-form-box ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $blood-red-light;
   opacity:  1;
}
.mini-form-box :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    $blood-red-light;
}
.mini-form-box ::-ms-input-placeholder { /* Microsoft Edge */
   color:    $blood-red-light;
}

.mini-contact-input {
  padding-right: 0px;
  border-right-width: 0px;
  color: $blood-red-light;
  border: 2px solid $blood-red-light;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 10px;
}

.mini-contact-wrapper {
  z-index: 5;
  padding: 50px 0px;
}
// google maps
#map {
    height: 400px;
    width: 100%;
   }

.MabBox-Wrapper {
  padding-right: 0px;
  padding-left: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color:$blood-red-light;
}

.left-curved-5px {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.mini-img {
  width: 130px;
  height:100px;  
}
