.contact-desc {
  height: 620px;
  background-color: white;
}

.contact-desc-wrap {
  margin: 50px;
}

.contact-desc-title {
  font-size: 2.2em;
  color:black;
  text-align: center;
  font-weight: 100;
}

.contact-desc-subtitle {
  font-size: 1em;
  color:black;
  text-align: center;
  font-weight: 100;
}

.inquiry-desc {
  font-size: 1em;
  color:black;
  text-align: center;
  font-weight: 100;
}
