.section0-home {
  // padding-top: 200px;
  background: #e52d27!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #b31217, #e52d27)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background-image: -moz-linear-gradient(to bottom, #b31217, #e52d27)!important;
  background: linear-gradient(to bottom, #b31217, #e52d27)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.section0-home:after {
    content: "";
    -webkit-clip-path: polygon(100% 100%,100% 0,0 100%)!important;
    clip-path: polygon(100% 100%,100% 0,0 100%)!important;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    height: 254px;
    width: 100%!important;
    max-width: 1440px;
    background: #e52d27!important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #b31217, #e52d27)!important;  /* Chrome 10-25, Safari 5.1-6 */
    background-image: -moz-linear-gradient(to bottom, #b31217, #e52d27)!important;
    background: linear-gradient(to bottom, #b31217, #e52d27)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    top: 405px;
}




  #home div.header2 {
    min-height: 500px;
    max-height: 800px;
    background: #fefefe!important;
    width: 100%;
    position: relative; }

  @media screen and (max-width: 39.9375em) {
    #home div.header {
      height: 100vh; } }
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    #home div.header {
      height: 700px; } }
  @media screen and (min-width: 64em) {
    #home div.header {
      height: 768px;
      z-index: 11; } }
  @media screen and (min-width: 75em) {
    #home div.header {
      height: 720px; } }

  #home div.header:after {
    content: '';
    -webkit-clip-path: polygon(100% 100%, 100% 0%, 0 100%)!important;
    clip-path: polygon(100% 100%, 100% 0%, 0 100%)!important;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    height: 254px;
    width: 1440px;
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #b31217, #e52d27)!important;  /* Chrome 10-25, Safari 5.1-6 */
    background-image: -moz-linear-gradient(to top, #b31217, #e52d27)!important;
    background: linear-gradient(to bottom, #b31217, #e52d27)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  #home div.header .header-container {
    height: 100%;
    position: relative;
    z-index: 1; }
    #home div.header .header-container > div.row {
      height: 100%;
      position: relative; }
      @media screen and (max-width: 63.9375em) {
        #home div.header .header-container > div.row {
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -moz-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; } }
    @media screen and (max-width: 63.9375em) {
      #home div.header .header-container {
        padding-top: 120px; }
        #home div.header .header-container .presentation {
          margin-bottom: 50px;
          text-align: center; }
        #home div.header .header-container .illustration {
          width: auto; } }

// presentation
.presentation{
  max-width: 50%;
  padding-top: 200px;
  position: relative;
  text-align: left!important;
}

// illustration
#home div.header .illustration {
    position: absolute!important;
    max-width: 50%;
}

.illu-editor{
  position: absolute!important;
  z-index: 2;
  top: 210px;
}

.illu-code{
    position: absolute!important;
    top: 110px;
    right: -73px;
    z-index: 1;
}
// .align-right {
//     -webkit-box-pack: end;
//     -webkit-justify-content: flex-end;
//     -moz-box-pack: end;
//     -ms-flex-pack: end;
//     justify-content: flex-end;
// }
//
// // @media screen and (min-width: 75em)
// #home div.header .illustration .illu-editor {
//     top: -20px;
//     left: 80px;
// }
//
//
// // @media screen and (min-width: 75em)
// #home div.header .illustration .illu-editor {
//     position: absolute!important;
//     top: -20px;
//     left: 80px;
// }

// #home div.header .illustration .illu-editor {
//     -webkit-transition: all 0.5s ease-in-out;
//     -moz-transition: all 0.5s ease-in-out;
//     transition: all 0.5s ease-in-out;
//     z-index: -1;
//     /* background: white; */
//     border-radius: 6px;
//     box-shadow: 0 10px 20px 0 rgba(91, 107, 174, 0.15);
// }

.header {
  height: 520px!important;
}

.hashtags strong {
    font-weight: normal;
}

.hashtags h1 {
    color: #293131;
    font-size: 18px;
    margin-bottom: 15px;
}


.hashtags strong :before {
    content: '#'!important;
}

*, *::before, *::after {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.title h2 {
   font-size: 45px;
   color: white;
   line-height: 1.2;
}

.logos {
  margin-top: 72px;
}

.section2-home {
  padding-top: 20px;
}

// Animation

#nexus{

  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;

  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

#nexus.active{
		-webkit-transform: translate3d(213px, 0px, 0px);
		-moz-transform: translate3d(213px, 0px, 0px);
		-ms-transform:translate3d(213px, 0px, 0px);
		transform: translate3d(213px, 0px, 0px);
	}

#nexus.moveDown{
  	-webkit-transform: translate3d(0, 75%, 0);
    -ms-transform: translate3d(0, 75%, 0);
    transform: translate3d(0, 75%, 0);
  }

#nexus.moveUp{
  	-webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
//Animation End
