// main Portfolio page
.portfolio-title-wrap {
  height: 200px;
  min-height: 200px;
  width: 100%;
  background: #e52d27!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #b31217, #e52d27)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background-image: -moz-linear-gradient(to bottom, #b31217, #e52d27)!important;
  background: linear-gradient(to bottom, #b31217, #e52d27)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.portfolio-text-area {
  padding: 110px 20px 20px 20px;
  color: white;
}
.portfolio-title{
  font-weight: 500;
}

.portfolio-title , .portfolio-content {
  color: white;
}

// single project
.single-project-wrap {
  height: 600px;
  max-height: 600px;
  min-height: 600px;
  background-color: $off-white;
}

.project-card{
  // padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 200px;
  padding-right: 200px;
}

.project-content {
  padding-top: 120px;
}

.device-btn-row {
  padding-left: 30%;
}

#see-live-btn {
  border-color: #fff;
  color: #ffffff;
}

#see-live-btn:focus , #see-live-btn:hover {
  border-color: #e52d27;
  color: #e52d27;
}

.project-desktop-thumb, .project-tablet-thumb, .project-mobile-thumb {
  // height: 200px;
  // width: 500px;
}

// nth element css
div .single-project-wrap:nth-of-type(4n+1) {
  background: #28282e;
}

div .single-project-wrap:nth-of-type(4n+2) {
  background: #251111;
}

div .single-project-wrap:nth-of-type(4n+3) {
  background: #111111;
}

div .single-project-wrap:nth-of-type(4n+4) {
  background: #9e0b0f;
}
// nth element css end

// svg classes
.st1{

  background: url(http://res.cloudinary.com/haswind/image/upload/v1498631172/b3vunipnng1x3b10tkvl.png) 50% 0%;
  background-size: cover;
  // // background-image: url("http://res.cloudinary.com/haswind/image/upload/v1498631172/b3vunipnng1x3b10tkvl.png");
  // -webkit-mask-image: url('http://res.cloudinary.com/haswind/image/upload/v1498631172/b3vunipnng1x3b10tkvl.png');
  // mask-image: url('http://res.cloudinary.com/haswind/image/upload/v1498631172/b3vunipnng1x3b10tkvl.png');
}


.project-title {
  color: white;
}

.project-desc {
  color: white;
}

// portfolio live button
.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}
.btn-outlined.btn-primary {
    background: none;
    border: 3px solid #428bca;
    color: #428bca;
}

.btn-lap:focus, .btn-tab:focus, .btn-mob:focus, .btn-lap:hover, .btn-tab:hover, .btn-mob:hover {
  color:white;
}
