// @media (min-width: 600px) { ... }
// @media (min-width: 1000px) { ... }
// @media (min-width: 1500px) { ... }

// @media only screen and (min-device-width : 0px) and (max-device-width : 600px) {
// }
// @media (min-device-width: 600px) and (max-device-width : 1000px) {
//  }
// @media (min-device-width: 1000px) and (max-device-width : 1500px) {
// }

// single project
.single-project-wrap {

  background-color: $off-white;

  @media only screen and (min-width : $mobile-sc) and (max-width : $tab-sc ) {
    height: 1000px;
    min-height: 1000px;
  }
  @media (min-width: $tab-sc) and (max-width: 640px) {
    height: 900px;
    min-height: 900px;
   }
  @media (min-width: 640px) and (max-width : $desktop-sc) {
    height: 600px;
    min-height: 600px;
  }
  @media (min-width: $desktop-sc) and (max-width : 1330px)  {
    height: 600px;
    min-height: 600px;
  }
  @media (min-width: 1330px) and (max-width : $large-sc) {
    height: 620px;
    min-height: 620px;
  }
  @media (min-width : $large-sc) {
    height: 620px;
    min-height: 620px;
  }
}

.project-card{

  @media (min-width: 600px) {
    padding-bottom: 0px;
    padding-left:  0px;
    padding-right: 0px;
  }
  @media (min-width: 1000px) {
    padding-bottom: 200px;
    padding-left: 200px;
    padding-right: 200px;
  }
  @media (min-width: 1500px) {
    // padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 200px;
    padding-right: 200px;
  }
}

.project-content {
  padding-top: 120px;
}

.device-btn-wrap {
  width: 220px;
  padding-bottom: 10px;
  padding-top: 5px;
}


#see-live-btn {
  border-color: #fff;
  color: #ffffff;
}

#see-live-btn:focus , #see-live-btn:hover {
  border-color: #e52d27;
  color: #e52d27;
}

.project-desktop-thumb, .project-tablet-thumb, .project-mobile-thumb {

  @media only screen and (min-width : $mobile-sc) and (max-width : $tab-sc ) {
    padding: 20px;
  }
  @media (min-width: $tab-sc) and (max-width: 640px) {
    margin-top: -140px;
   }
  @media (min-width: 640px) and (max-width : $desktop-sc) {
    padding-top: 120px;
  }
  @media (min-width: $desktop-sc) and (max-width : 1330px) {
     padding-top: 120px;
   }
  @media (min-width: 1330px) and (max-width : $large-sc) {
    padding-top: 20px;
  }
  @media (min-width : $large-sc) {
    padding-top: 20px;
  }
}

// nth element css
div .single-project-wrap:nth-of-type(4n+1) {
  background: #28282e;
}

div .single-project-wrap:nth-of-type(4n+2) {
  background: #251111;
}

div .single-project-wrap:nth-of-type(4n+3) {
  background: #111111;
}

div .single-project-wrap:nth-of-type(4n+4) {
  background: #9e0b0f;
}
// nth element css end



.project-title {
  color: white;
}

.project-desc {
  color: white;
}

// portfolio live button
.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}
.btn-outlined.btn-primary {
    background: none;
    border: 3px solid #428bca;
    color: #428bca;
}

.btn-lap:focus, .btn-tab:focus, .btn-mob:focus, .btn-lap:hover, .btn-tab:hover, .btn-mob:hover {
  color:white;
}
