.service-img-wrap {
  padding-top: 50px;
}


.service-intro {
  padding-top: 150px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.service-img {
  width: 500px;
  padding: 20px;
}

.service-title {
  color: #fff;
  font-size: 42px;
}

.service-intro-info {
  color: #fff;
}


.intro p {
  width: 62%;
  text-align: left;
  font-size: 1.2em;
}

.btn-service-call {
  min-width: 200px!important;
  min-height: 54px!important;
}

.service-info {
  background: #485563;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:white;
}

.service-title-title {
  color: white;
}
