
@media (max-width : $chrome-426) {
  .trasnformNON{
      height: 575px!important;
  }
}
// #fullpage{
//   transform: none!important;
// }
#service-section1 {
  background: #c40000!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(#c40000, #da1616)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background-image: -moz-linear-gradient(#c40000, #da1616)!important;
  background: linear-gradient(#c40000, #da1616)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#service-section1:after {
  background: #c70f0f!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom,  #c70f0f, #c40000)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background-image: -moz-linear-gradient(to bottom,  #c70f0f, #c40000)!important;
  background: linear-gradient(180deg, #c70f0f, #c40000)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#service-section2 {
  background: #c40000!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(#c40000, #da1616)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background-image: -moz-linear-gradient(#c40000, #da1616)!important;
  background: linear-gradient(#c40000, #da1616)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#service-section2:after {
  background: #c40000!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom,  #c70f0f, #c40000)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background-image: -moz-linear-gradient(to bottom,  #c70f0f, #c40000)!important;
  background: linear-gradient(180deg, #c70f0f, #c40000)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#service-section3 {
  background: #c40000!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(#c40000, #da1616)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background-image: -moz-linear-gradient(#c40000, #da1616)!important;
  background: linear-gradient(#c40000, #da1616)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#service-section3:after {
  background: #c40000!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom,  #c70f0f, #c40000)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background-image: -moz-linear-gradient(to bottom,  #c70f0f, #c40000)!important;
  background: linear-gradient(180deg, #c70f0f, #c40000)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#service-section4 {
  background: #c40000!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(#c40000, #da1616)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background-image: -moz-linear-gradient(#c40000, #da1616)!important;
  background: linear-gradient(#c40000, #da1616)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#service-section4:after {
  background: #c40000!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom,  #c70f0f, #c40000)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background-image: -moz-linear-gradient(to bottom,  #c70f0f, #c40000)!important;
  background: linear-gradient(180deg, #c70f0f, #c40000)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#service-section5 {
  background: #c40000!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(#c40000, #da1616)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background-image: -moz-linear-gradient(#c40000, #da1616)!important;
  background: linear-gradient(#c40000, #da1616)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#service-section5:after {
  background: #c40000!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom,  #c70f0f, #c40000)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background-image: -moz-linear-gradient(to bottom,  #c70f0f, #c40000)!important;
  background: linear-gradient(180deg, #c70f0f, #c40000)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#service-section6 {
  background: #c40000!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(#c40000, #da1616)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background-image: -moz-linear-gradient(#c40000, #da1616)!important;
  background: linear-gradient(#c40000, #da1616)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#service-section6:after {
  background: #c40000!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom,  #c70f0f, #c40000)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background-image: -moz-linear-gradient(to bottom,  #c70f0f, #c40000)!important;
  background: linear-gradient(180deg, #c70f0f, #c40000)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.section0-services {
  background: #be0b0b!important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(#be0b0b, #da1616)!important;  /* Chrome 10-25, Safari 5.1-6 */
  background-image: -moz-linear-gradient(#be0b0b, #da1616)!important;
  background: linear-gradient(#be0b0b, #da1616)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 720px;
  min-height: 660px!important;
  max-height: 720px!important;
  @media (max-width : $chrome-321) {
    height: 550px;
    min-height: 550px!important;
    max-height: 720px!important;
  }
  @media only screen and (min-width : $chrome-321) and (max-width : $chrome-376 ) {
    height: 550px;
    min-height: 550px!important;
    max-height: 720px!important;
  }
  @media (min-width: $chrome-376) and (max-width: $chrome-426) {

   }
  width: 100%;
  margin: 0;
  box-sizing: inherit;
  padding: 0;

}


.section0-services:after {
    content: "";
    -webkit-clip-path: polygon(100% 100%,100% 0,0 100%)!important;
    clip-path: polygon(100% 100%,100% 0,0 100%)!important;
    display: block;
    position: absolute!important;
    bottom: 0;
    left: 0;
    z-index: 0;

    width: 100%!important;
    //width: 1440px;
    //max-width: 1440px;
    max-width: 100%!important;
    background: #c70f0f!important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom,  #c70f0f, #e71c1c)!important;  /* Chrome 10-25, Safari 5.1-6 */
    background-image: -moz-linear-gradient(to bottom,  #c70f0f, #e71c1c)!important;
    background: linear-gradient(180deg, #c70f0f, #e71c1c)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    //top: 405px;
    overflow:hidden!important;

    // @media screen and (min-width: 253px){
    //   height: 253px;
    //   //display: none!important;
    // }

    @media (max-width : $chrome-321) {
      top: 460px;
    }
    @media only screen and (min-width : $chrome-321) and (max-width : $chrome-376 ) {
      top: 460px;
    }
    @media (min-width: $chrome-376) and (max-width: $chrome-426) {
      top: 460px;
     }
    @media (min-width: $chrome-426) and (max-width : $chrome-769) {
      top: 460px;
    }
    @media (min-width: $chrome-769) and (max-width : $chrome-1025)  {
      top: 460px;
    }
    @media (min-width: $chrome-1025) and (max-width : $chrome-1441) {
      top: 460px;
    }
    @media (min-width: $chrome-1441) and (max-width : $chrome-2561) {
      top: 460px;
    }
    @media (min-width : $chrome-2561) {
      top: 460px;
    }
}

.service-img-wrap {
  padding-top: 50px;

  @media (max-width : $chrome-321) {
    padding-top: 10px;
  }
  @media only screen and (min-width : $chrome-321) and (max-width : $chrome-376 ) {
    padding-top: 10px;
  }
  @media (min-width: $chrome-376) and (max-width: $chrome-426) {
    padding-top: 10px;
   }
  @media (min-width: $chrome-426) and (max-width : $chrome-769) {
  }
  @media (min-width: $chrome-769) and (max-width : $chrome-1025)  {

  }
  @media (min-width: $chrome-1025) and (max-width : $chrome-1441) {

  }
  @media (min-width: $chrome-1441) and (max-width : $chrome-2561) {
    padding-bottom: 300px;
  }
  @media (min-width : $chrome-2561) {
    padding-bottom: 300px;
  }
}


.service-intro {
  padding-top: 150px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;

  @media (max-width : $chrome-321) {
    padding-bottom: 0px;
    padding-top: 120px;
  }
  @media only screen and (min-width : $chrome-321) and (max-width : $chrome-376 ) {
    padding-bottom: 0px;
    padding-top: 120px;
  }
  @media (min-width: $chrome-376) and (max-width: $chrome-426) {
    padding-bottom: 0px;
    margin-top: 20px;
   }
  @media (min-width: $chrome-426) and (max-width : $chrome-769) {
    padding-top: 80px;
  }
  @media (min-width: $chrome-769) and (max-width : $chrome-1025)  {

  }
  @media (min-width: $chrome-1025) and (max-width : $chrome-1441) {

  }
  @media (min-width: $chrome-1441) and (max-width : $chrome-2561) {

  }
  @media (min-width : $chrome-2561) {

  }
}

.service-img {
  width: 500px;
  padding: 20px;
}

.service-title {
  color: #fff;
  font-size: 42px;

  @media (max-width : $chrome-321) {
    font-size: 1.2em;
  }
  @media only screen and (min-width : $chrome-321) and (max-width : $chrome-376 ) {
    font-size: 1.2em;
  }
  @media (min-width: $chrome-376) and (max-width: $chrome-426) {

   }
  @media (min-width: $chrome-426) and (max-width : $chrome-769) {

  }
  @media (min-width: $chrome-769) and (max-width : $chrome-1025)  {

  }
  @media (min-width: $chrome-1025) and (max-width : $chrome-1441) {

  }
  @media (min-width: $chrome-1441) and (max-width : $chrome-2561) {

  }
  @media (min-width : $chrome-2561) {

  }
}

.service-intro-info {
  color: #fff;

  .intro p {
    width: 62%;
    text-align: left;
    font-size: 1.2em;
  }

  @media (max-width : $chrome-321) {
    width: 100%!important;
    font-size: 0.6em!important;
    text-align: center!important;
  }
  @media only screen and (min-width : $chrome-321) and (max-width : $chrome-376 ) {
    width: 100%!important;
    font-size: 0.6em!important;
    text-align: center!important;
  }
  @media (min-width: $chrome-376) and (max-width: $chrome-426) {
    width: 100%!important;
    font-size: 0.6em!important;
    text-align: center!important;
   }
  @media (min-width: $chrome-426) and (max-width : $chrome-769) {
    width: 100%!important;
    font-size: 1em!important;
    text-align: center!important;
  }
  @media (min-width: $chrome-769) and (max-width : $chrome-1025)  {
    width: 100%!important;
    font-size: 1em!important;
    text-align: center!important;
  }
  @media (min-width: $chrome-1025) and (max-width : $chrome-1441) {
    width: 100%!important;
    font-size: 1em!important;
    text-align: center!important;
  }
  @media (min-width: $chrome-1441) and (max-width : $chrome-2561) {
    width: 100%!important;
    font-size: 1em!important;
    text-align: center!important;
  }
  @media (min-width : $chrome-2561) {
    width: 100%!important;
    font-size: 1em!important;
    text-align: center!important;
  }
}




.btn-service-call {
  // min-width: 200px!important;
  // min-height: 54px!important;
  //
  // @media (max-width : $chrome-321) {
  //   min-width: 200px!important;
  //   min-height: 54px!important;
  // }
  // @media only screen and (min-width : $chrome-321) and (max-width : $chrome-376 ) {
  //   min-width: 200px!important;
  //   min-height: 54px!important;
  // }
  // @media (min-width: $chrome-376) and (max-width: $chrome-426) {
  //   min-width: 200px!important;
  //   min-height: 54px!important;
  // }
}


.service-info {
  max-height: 720px!important;
  background: #fbfafe;
  color: #000;
  background-image: url('http://res.cloudinary.com/haswind/image/upload/q_40/v1505544151/services/bg-image-web.jpg');
  background-position: 0px -700px;
  background-repeat: no-repeat;
  background-size: cover;

  .fp-tableCell {
    max-height: 720px!important;
  }
  @media (max-width : $chrome-321) {
    background-position: 0px -323px;
  }
  @media only screen and (min-width : $chrome-321) and (max-width : $chrome-376 ) {
    background-position: 0px -323px;
  }
  @media (min-width: $chrome-376) and (max-width: $chrome-426) {
    background-position: 0px -323px;
   }
  @media (min-width: $chrome-426) and (max-width : $chrome-769) {
    background-position: 0 -373px;
  }
  @media (min-width: $chrome-769) and (max-width : $chrome-1025)  {
    background-position: 0 -433px;
  }
  @media (min-width: $chrome-1025) and (max-width : $chrome-1441) {
    background-position: 0 -710px;
  }
  @media (min-width: $chrome-1441) and (max-width : $chrome-2561) {
    background-position: 0 -710px;
  }
  @media (min-width : $chrome-2561) {
    background-position: 0 -710px;
  }
}

.service-margin-10 {
  margin: 10px;
}

.service-title-title {
  color: white;
}

.service-info > .fp-tableCell {
  vertical-align: unset!important;
}

.service-info-top-img {
  min-height: 200px;
  width: 100%;
}

.service-info-card {
  // background img is set dynamically
  background-position: -183px -70px;
  background-repeat: no-repeat;
  background-size: 500px 500px;
  background-color: blue;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(45,50,126,.1), 0 5px 15px 0 rgba(45,50,126,.07);
  height: 320px;
  margin-top: 100px;
  background-color: #ffffff;
  color: #002d56;

  @media (max-width : $chrome-321) {
    background-position: -75px 343px;
    background-size: 172px;
    height: 470px;
    margin-top: 70px;
  }
  @media only screen and (min-width : $chrome-321) and (max-width : $chrome-376 ) {
    background-position: -75px 343px;
    background-size: 172px;
    height: 470px;
    margin-top: 70px;
  }
  @media (min-width: $chrome-376) and (max-width: $chrome-426) {
    background-position: -75px 241px;
    background-size: 172px;
    height: 370px;
    margin-top: 70px;
   }
  @media (min-width: $chrome-426) and (max-width : $chrome-769) {
    background-position: -75px 20px;
    background-size: 172px;
    height: 209px;
  }
  @media (min-width: $chrome-769) and (max-width : $chrome-1025)  {

  }
  @media (min-width: $chrome-1025) and (max-width : $chrome-1441) {

  }
  @media (min-width: $chrome-1441) and (max-width : $chrome-2561) {

  }
  @media (min-width : $chrome-2561) {

  }
}

.service-card-text {
  margin: 38px 38px 38px 350px;
  font-size: 1.2em;
  text-align: center;

  @media (max-width : $chrome-321) {
    margin-top: 10px;
    margin-left: 4px;
    margin-right: 5px;
    border-bottom-width: 20px;
    margin-bottom: 20px;
    font-size: 1em;
  }
  @media only screen and (min-width : $chrome-321) and (max-width : $chrome-376 ) {
    margin-top: 10px;
    margin-left: 4px;
    margin-right: 5px;
    border-bottom-width: 20px;
    margin-bottom: 20px;
    font-size: 1em;
  }
  @media (min-width: $chrome-376) and (max-width: $chrome-426) {
    margin-top: 10px;
    margin-left: 4px;
    margin-right: 5px;
    border-bottom-width: 20px;
    margin-bottom: 20px;
    font-size: 1em;
   }
  @media (min-width: $chrome-426) and (max-width : $chrome-769) {
    margin-right: 5px;
    border-bottom-width: 20px;
    margin-bottom: 20px;
    font-size: 1em;
    margin-left: 100px;
    margin-top: 20px;
  }
  @media (min-width: $chrome-769) and (max-width : $chrome-1025)  {

  }
  @media (min-width: $chrome-1025) and (max-width : $chrome-1441) {

  }
  @media (min-width: $chrome-1441) and (max-width : $chrome-2561) {

  }
  @media (min-width : $chrome-2561) {

  }
}


.service-testomonial-wrapper {
  color : $text-brown;
  margin: 38px 250px 30px;

  @media (max-width : $chrome-321) {

  }
  @media only screen and (min-width : $chrome-321) and (max-width : $chrome-376 ) {

  }
  @media (min-width: $chrome-376) and (max-width: $chrome-426) {

   }
  @media (min-width: $chrome-426) and (max-width : $chrome-769) {
    margin-left: 100px;
    margin-right: 100px;
  }
  @media (min-width: $chrome-769) and (max-width : $chrome-1025)  {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 5px;
  }
  @media (min-width: $chrome-1025) and (max-width : $chrome-1441) {

  }
  @media (min-width: $chrome-1441) and (max-width : $chrome-2561) {

  }
  @media (min-width : $chrome-2561) {

  }

}

.service-testomonial {
  color : $text-brown;
  font-size: 1.0em;
  font-weight: 600;

}

.service-testomonial-auth-wrapper {

}

.service-testomonial-auth {
  color : $text-brown;
  font-size: 0.8em;
  margin-bottom: 0px;

}

.service-testomonial-icon {
  width: 25px;
  height: 25px;
}

#service-sub-section2 {
  max-height: 720px!important;
}

#service-sub-section3 {
  max-height: 720px!important;
}
